<div class="main-div">

<div class="col-md-8 col-lg-8 col-sm-8 neurology_page">
   
  <div class ="main">
      <h1>
        Neurology
      </h1>
      <p>
      We bring together experts from neurology, neuropsychology and psychiatry
      to diagnose and treat complex neurological problems. We have an
      extensive clinical history in treating the full range of neurological
      problems including strokes, brain traumas, epilepsy, Parkinson's,
      multiple sclerosis and neck and spine conditions.
      </p>
          <h2>services provided :</h2>
          <p>
            <b>DEMENTIA :</b>The evaluation, diagnosis and treatment of individuals
            suffering from memory disorders such as Alzheimer’s and dementia
          </p>
          <p>
            <b>NEURO-CRITICAL CARE :</b>
            Emergency care for life threatening neurological emergencies
          </p>

        </div>
</div>

<div class="doctors">
  <div style="text-align: center; "*ngFor="let p of doctors">
    <h3>Neurologist</h3>
    <h4>{{p.firstName +" "+ p.lastName}}</h4>
    <hr>
  </div>
  <div class="container text-center">
    <div class="row" *ngFor="let p of doctors" >
      <div class="col-md-3" >
        <div class="box">
          <div class="product_image">
            <img style="margin-left: 1em;" src="{{p.photo}}"height="200vh" width="200vh" alt="p_05">
         </div>  
         <br>
         <div class="btn btn-primary"
            (click)="showDiv.enquiry = !showDiv.enquiry;">
            Book Appointment
        </div>            
    </div>              
  </div>            
</div>
</div>
</div>


<div style="display: block;" *ngIf="showDiv.enquiry">
  <app-book-appointment [doctorId]="NeurologistId"></app-book-appointment>
</div>  
</div>