<section class="about-us">
    <div class="col-lg-8 col-sm-8 about-us_page">
        <h1 class="text-center">
            <b>About</b>
        </h1>
        <div class="main">
            <p>
                Our hospital is backed by advanced technology,
                a panel of leading doctors in virtually every speciality along with a team of dedicated support
                staff,the hospital is dedicated to putting its patients at the heart of its everyday operations.
            </p>
            <p>
                We have some of the best specialty doctors from arround the world, they bring years of experience and offer evidence based treatment to ensure the best care for you.
            </p>
            <p>Through our specialities, we provide in-depth expertise in the spectrum of advance medical and surgical interventions. Our specialities are integrated to provide a seamless experience.</p>
            <div class=" follow ">
                <h4>Follow Us</h4>
                <a href="https://www.facebook.com/"> facebook</a> 
                <a href="https://www.linkedin.com/login"> linkedin </a>
                <a href="https://www.youtube.com/"> youtube </a>
                <a href="https://www.instagram.com/accounts/login/"> instagram</a>

            </div>
        </div>
    </div>
</section>