
<div class="main-div">
    <div  class="row button">
        <div class="col-md-1">
            <div class="btn-group-vertical ">
                <div  class="btn btn-primary  "
                    (click)="Onclick1(1)">
                  Dr.jadhav
                </div>
                <div class="btn btn-primary"
                (click)="Onclick1(2)">
                    Dr.Dhawan
                </div>
                <div class="btn btn-primary"
                (click)="Onclick1(3)">
                Dr.patil
            </div>
            <div class="btn btn-primary"
            (click)="Onclick1(4)">
            Dr.Sharma
        </div>
        <div class="btn btn-primary"
        (click)="Onclick1(5)">
        Dr.Shinde
    </div>
            </div>
        </div>
    </div>

    <div class="row "  >
        <div class="table-responsive-xl" >
          <div>
            <h2> Welcome Doctor</h2>
  <table mat-table [dataSource]="GetPatientDetails" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container  matColumnDef="Firstname">
        <th class="res" mat-header-cell *matHeaderCellDef>Firstname  </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="Lastname">
        <th class="res" mat-header-cell *matHeaderCellDef> Lastname </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="EmailId">
        <th class="res" mat-header-cell *matHeaderCellDef> Email id </th>
        <td mat-cell *matCellDef="let element"> {{element.emailId}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="PhoneNo">
        <th class="res" style="padding-left: 10px;" mat-header-cell *matHeaderCellDef>Phone No </th>
        <td  id="comment" mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
      </ng-container>

      <ng-container matColumnDef="Age">
        <th class="res" style="padding-left: 10px;" mat-header-cell *matHeaderCellDef> Age </th>
        <td  id="comment" mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="Gender">
        <th class="res" style="padding-left: 10px;" mat-header-cell *matHeaderCellDef> Gender </th>
        <td  id="comment" mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="MedicalComplaint">
        <th class="res" style="padding-left: 10px;" mat-header-cell *matHeaderCellDef> Medical Complaint </th>
        <td  id="comment" mat-cell *matCellDef="let element"> {{element.medicalComplaint}} </td>
      </ng-container>

      <ng-container matColumnDef="SelectedDate">
        <th class="res" style="padding-left: 10px;" mat-header-cell *matHeaderCellDef> Selected Date </th>
        <td  id="comment" mat-cell *matCellDef="let element"> {{element.selectedDate | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="SelectedSlot">
        <th class="res" style="padding-left: 10px;" mat-header-cell *matHeaderCellDef> Selected Slot </th>
        <td  id="comment" mat-cell *matCellDef="let element"> {{element.selectedSlot}} </td>
      </ng-container>

      <ng-container matColumnDef="DoctorId">
        <th class="res" style="padding-left: 10px;" mat-header-cell *matHeaderCellDef> Doctor Id </th>
        <td  id="comment" mat-cell *matCellDef="let element"> {{element.doctorId}} </td>
      </ng-container>

      <ng-container matColumnDef="VisitingStatus">
        <th class="res" style="padding-left: 10px;" mat-header-cell *matHeaderCellDef> Visiting Status </th>
        <td  id="comment" mat-cell *matCellDef="let element"> {{element.visitingStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>   
        <td mat-cell *matCellDef="let element;let j = index"> 
          <button (click)="deleteTicket(element.id,j)" mat-raised-button color="warn">delete</button> 
        </td>
      </ng-container>
     
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>
 </div>
</div>


</div>



