<div class="main-div">


<div class="col-md-8 col-lg-8 col-sm-8 dentist_page">
   
    <div class ="main">
        <h1>
         Dentistry
        </h1>
        <p>
            Our specialists use the best available techniques in a most soothing
        atmosphere to treat some of the most common to the most complex dental
        conditions ranging from root canals to wisdom tooth removal, from cavity
        treatment to the alignment of teeth with braces, as well as dental
        implants, veneers and crowns.

        </p>
        
     
            <h2>services provided :</h2>
            <p>
                <b>ENDODONTICS :</b>
                Right from invisible fillings to root canal treatments, we have you
                covered in every sense of the way
            </p>
            <p>
                <b>PROSTHODONTICS :</b>
                Our specialists conduct all kinds of dental implants and provide with
                the best tooth replacement options
            </p>

  </div>
</div>

<div class="doctors">
     <div style="text-align: center; "*ngFor="let p of doctors">
      <h3>Dentist</h3>
      <h4>{{p.firstName +" "+ p.lastName}}</h4>
      <hr>
    </div>
    <div class="container text-center">
      <div class="row" *ngFor="let p of doctors" >
        <div class="col-md-3" >
          <div class="box">
            <div class="product_image">
              <img style="margin-left: 1em;" src="{{p.photo}}"height="200vh" width="200vh" alt="p_03">
           </div>  
           <br>
           <div class="btn btn-primary"
              (click)="showDiv.enquiry = !showDiv.enquiry;">Book Appointment
          </div>            
      </div>              
    </div>            
  </div>
</div>
</div>


<div style="display: block;" *ngIf="showDiv.enquiry">
    <app-book-appointment [doctorId]="DentistId"></app-book-appointment>
</div>  