.contact-us
{
    
    padding: 1%;
    width:100%;
    background-image: url("https://img.freepik.com/free-vector/blue-white-wave-background-soft-background_41084-560.jpg?w=740");
   background-size: 220vh 80vh;
   background-repeat: no-repeat;
   background-size: cover;
}
.login
{

    background-color: white;
    padding: 0% 2% 1% 2%;
    margin: 1% 30% 5% 30%;
}

@media screen and (max-width:600px) {
    .contact-us
{
    background-color:aliceblue;
    padding: 3% 4% 3% 4%;
    
}

}
