<section class="contact-us">
    <div class="login col-lg-4 m-auto" shadow-lg>
        <h2>Contact Us</h2>
        <form #contact="ngForm" (ngSubmit)="onSubmit(contact.value)">

            <div class="form-group">
                <label for="firstname" class="form-label">FirstName</label>
                <input type="text" required #name="ngModel" pattern="[a-zA-Z]+$" minlength="2" class="form-control" placeholder="Name" name="Firstname" ngModel  />
                <div class="form-text text-danger" *ngIf="
                name.errors?.['required'] &&
                (name.touched || name.dirty)">
                This is required.
                </div>
                <div class= "form-text text-danger" *ngIf="name.errors?.['minlength'] &&
                    (name.touched || name.dirty)">
                    First Name is too short. Enter valid First name.
                </div>
                <div class= "form-text text-danger" *ngIf="name.errors?.['pattern'] &&
                    (name.touched || name.dirty)">
                    First name should have only alphabets.
                </div>

            </div>

            <div class="form-group">
                <label for="lastname" class="form-label">LastName</label>
                <input type="text" required #surname="ngModel" pattern="[a-zA-Z]+$" minlength="2" class="form-control" placeholder="Surname" name="Lastname" ngModel  />
                <div class="form-text text-danger" *ngIf="
                surname.errors?.['required'] &&
                (surname.touched || surname.dirty)">
                This is required.
                </div>
                <div class="form-text text-danger" *ngIf="surname.errors?.['minlength'] &&
                    (surname.touched || surname.dirty)">
                        Last Name is too short. Enter valid Last name.
                </div>
                <div class= "form-text text-danger" *ngIf="surname.errors?.['pattern'] &&
                    (surname.touched || surname.dirty)">
                    Last name should have only alphabets.
                </div>
                
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email address </label>
                <input type="email" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" placeholder="eg. abc@gmail.com" name="EmailId" ngModel
                    required />
                    <div class="form-text text-danger" *ngIf="
                    email.errors?.['required'] &&
                    (email.touched || email.dirty)">
                    Email is required.
                    </div>
                    <div class="form-text text-danger" *ngIf="
                    email.errors?.['pattern'] &&
                    (email.touched || email.dirty)">
                    Enter a valid email address.
                    </div>
            </div>
            <div class="form-group">
                <label for="comment" class="form-label">Comment:</label>
                <textarea #comment="ngModel" class="form-control" rows="2" name="PComment" ngModel required>
                 </textarea>
                 <div class="form-text text-danger" *ngIf="
                 comment.errors?.['required'] &&
                (comment.touched || comment.dirty)">
                This is required.
                </div>
            </div>

            <button [disabled]="contact.invalid" class="btn btn-primary col-lg-12">
                Submit
            </button>

        </form>
    </div>
</section>